name: Backend Workflow

on:
  push:
    paths:
      - 'src/**'

jobs:
  build-be:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Backend
        run: |
          echo "Running backend workflow"
