name: Frontend Workflow

on:
  push:
    paths:
      - 'frontend/**'

jobs:
  build-fe:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Frontend
        run: |
          echo "Running frontend workflow"
